.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }


.head{
    width: 400px;
    height: 100px;
    background-color: #1f1f40;
}

.center{
    width: 400px;
    height: 250px;
}

.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;   
}

.right{
    float: right;
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

.floot{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
