@charset "utf-8";
div{
/*header.jsp*/
background-color: white;
/*jspTest.jsp*/
/*padding-topとpadding-botomの反映がおかしい*/
/*CSSファイルの反映について知る*/
padding-top: 50px;
padding-bottom: 50px;
/*footer.jsp*/
background-color: white;
}

label{
/*header.jsp*/
display: inline-block;
padding: 10px;
color: gray;
/*header.jsp*/
padding: 10px;
font-size: 10px;
/*footer.jsp*/
display: inline-block;
padding: 10px;
color: gray;
}

